/*colors: 
	#f0eceb - white
	#729f98 - blue 
	#283018 - black 
	#aa863a - gold*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

#wrapper {
	justify-content: center;
	margin: 20px auto;
	width: 75%;
}

#blogPosts {
	margin: 0 auto;
	width: 80%;
}

#container img {
	height: 120px;
	justify-content: center;
	width: 100%;
	object-fit: cover;
	border-bottom: #aa863a 7px solid;
}

body {

	font-family: 'EB Garamond', serif;
	padding: 1px;
}

h1 {
    text-align: right;
    font-family: 'Lobster', cursive;
    font-size: 55px;
    font-weight: lighter;
    color: #aa863a;
    width: 100%;
    padding: 5px 85px 15px 15px;
    background-color: #f0eceb;
}

h2 {
	
	padding: 2px;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	border-bottom: #f0eceb 2px solid;
	width: 100%;
}
h3 {
	font-family: 'Open Sans', sans-serif;
}

article {
	margin: 15px 0;
}

p {
	margin: 10px 20px;
}

footer {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #729f98;
	}

a {
	color: #729f98;
	text-decoration: none;
}

a:visited {
	color: #729f98;
}

p:nth-child(2) {
	margin-left: 30px;
	}

#main-footer {
	margin-top: 20px;
	border-top: #aa863a 4px solid;
	padding: 8px;
	text-align: right;
	background-color: #f0eceb;
}

#main-footer img{
	object-fit: cover;
	padding: 5px;
	height: 50px;
	width: 50px;

}





